body{
    background-image: url("ImagenesR/FondoIS.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.myDiv { 

    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 20px;
    
}

.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: black;
}

.main-navt{
    text-align: center;
    background-color: rgba(99, 54, 12, 0.836);
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;

}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a{
    color:white;
    padding: 5px;
    text-decoration: none;
    font-size: larger;
}


.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active{
    color: red;
}

.main-nav__item a::after{
    content: "  |  "
}
