<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clasifiación</title>
    <link
            rel="stylesheet"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="icon" type="image/x-icon" th:href="@{/img/Icono.jpg}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}"/>
    
    <link rel="stylesheet" th:href="@{/css/Clasificacion.css}"/>
  <body>
    <header>
        <nav id="header" class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand text-Intro" href="#">
                <img th:src="@{/img/Icono.jpg}">PeliReview
            </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link text-Pag" aria-current="page" th:href="@{/}">Página principal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-Inicio" href="Paginas.html" >Películas</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    
    <main id="main">
        <h1 aling="center">Califica la película que quieras</h1>
        <div class="container ">
            <form>
                <div class="row ">
                    <div class="col-md-4">
                        <input type="text" placeholder="Nombre de la película" name="nombre" class="form-control"
                      autocomplete="none" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  text-center controles">
                        <h3> Guion-Argumento</h3>
                        <img th:src="@{/img/guion.jpg}">
                    </div>
                    <div class="col-md-6 text-center">
                      
                    <p class="clasificacion">
                      <input id="radio1Guion" type="radio" name="estrellasGuion" value="5">
                      <label for="radio1Guion">★</label>
                      <input id="radio2Guion" type="radio" name="estrellasGuion" value="4">
                      <label for="radio2Guion">★</label>
                      <input id="radio3Guion" type="radio" name="estrellasGuion" value="3">
                      <label for="radio3Guion">★</label>
                      <input id="radio4Guion" type="radio" name="estrellasGuion" value="2">
                      <label for="radio4Guion">★</label>
                      <input id="radio5Guion" type="radio" name="estrellasGuion" value="1">
                      <label for="radio5Guion">★</label>
                    </p>
                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  text-center controles">
                        <h3>Actuación</h3>
                        <img th:src="@{/img/actuacion.jpg}">
                    </div>
                    <div class="col-md-6 text-center">
                      
                        <p class="clasificacion">
                          <input id="radio1Actuacion" type="radio" name="estrellasActuacion" value="5">
                          <label for="radio1Actuacion">★</label>
                          <input id="radio2Actuacion" type="radio" name="estrellasActuacion" value="4">
                          <label for="radio2Actuacion">★</label>
                          <input id="radio3Actuacion" type="radio" name="estrellasActuacion" value="3">
                          <label for="radio3Actuacion">★</label>
                          <input id="radio4Actuacion" type="radio" name="estrellasActuacion" value="2">
                          <label for="radio4Actuacion">★</label>
                          <input id="radio5Actuacion" type="radio" name="estrellasActuacion" value="1">
                          <label for="radio5Actuacion">★</label>
                        </p>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6  text-center controles">
                        <h3>Escenas</h3>
                        <img th:src="@{/img/escena.jpg}">
                    </div>
                    <div class="col-md-6 text-center">
                      
                        <p class="clasificacion">
                          <input id="radio1Escena" type="radio" name="estrellasEscena" value="5">
                          <label for="radio1Escena">★</label>
                          <input id="radio2Escena" type="radio" name="estrellasEscena" value="4">
                          <label for="radio2Escena">★</label>
                          <input id="radio3Escena" type="radio" name="estrellasEscena" value="3">
                          <label for="radio3Escena">★</label>
                          <input id="radio4Escena" type="radio" name="estrellasEscena" value="2">
                          <label for="radio4Escena">★</label>
                          <input id="radio5Escena" type="radio" name="estrellasEscena" value="1">
                          <label for="radio5Escena">★</label>
                        </p>
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center  controles">
                        <h3>Originalidad</h3>
                        <img th:src="@{/img/idea.png}">
                    </div>
                    <div class="col-md-6 text-center">
                      
                        <p class="clasificacion">
                          <input id="radio1Idea" type="radio" name="estrellasIdea" value="5">
                          <label for="radio1Idea">★</label>
                          <input id="radio2Idea" type="radio" name="estrellasIdea" value="4">
                          <label for="radio2Idea">★</label>
                          <input id="radio3Idea" type="radio" name="estrellasIdea" value="3">
                          <label for="radio3Idea">★</label>
                          <input id="radio4Idea" type="radio" name="estrellasIdea" value="2">
                          <label for="radio4Idea">★</label>
                          <input id="radio5Idea" type="radio" name="estrellasIdea" value="1">
                          <label for="radio5Idea">★</label>
                        </p>
                        
                    </div>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Opinión</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                        <input type="submit" class="btn btn-danger btn-dark" value="Clasificar">
                      </div>
                </div>
            </form>
        </div>
    </main>    
    <script th:src="@{/js/Rating.js}"></script>
  </body>
</html>
