<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Página Individual</title>
    <link
            rel="stylesheet"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="icon" type="image/x-icon" th:href="@{/img/Icono.jpg}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}"/>
    
    <link rel="stylesheet" th:href="@{/css/PaginaIndividual.css}"/>
    
</head>

<body> 
    <header>
        <nav id="header" class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-Intro" href="#">
                    <img th:src="@{/img/Icono.jpg}">PeliReview
                  </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-Pag" aria-current="page" th:href="@{/}">Página Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-Pag" aria-current="page" th:href="@{/Paginas.html}">Películas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<main>
    <section class="mt-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="imaginacion">
                        <img th:src="@{/img/Lord.jpg}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <h2 class="mb-4">El señor de los anillos, el retorno del rey</h2>
                        <ul>
                            <li>
                                <h3 class="mb-3">Guión-Argumento: 8.5</h3>
                            </li>
                            <li>
                                <h3 class="mb-3">Actuación: 8.2</h3> 
                            </li>
                            <li>
                                <h3 class="mb-3">Escenas: 9.5</h3>
                            </li>
                            <li>
                                <h3 class="mb-3">Originalidad: 9.0</h3>
                            </li>
                            <li>
                                <h3 class="mb-3">Género: Fantasía épica</h3>
                            </li>
                        </ul>    
                    </div>
                </div> 
                <div class="col-md-12">
                    <div class="card asertijo"> 
                        <h1> Opiniones:</h1>
                        <h6>Pepito perezxs</h6>
                        <p>Considero que la película transporta a una época en la cual quisiera vivir, por lo cual
                            siento que me enamora la forma en que está ambientada.
                        </p>
                        <div class="Boto gap-2 d-md-block">
                            <button class="btn btn-dark btn-pagina" type="button">Anterior</button>
                            <button class="btn btn-dark" type="button">Siguiente</button>
                          </div>

                    </div>
                </div>
            </div>
        
        </div>
    </section>
</main>
  </body>
</html>