<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
          rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
  />
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <title>No Tienes Acceso: 403</title>
</head>
<body>
<header>
  <nav id="header" class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-Intro" href="#">
        <img th:src="@{\img\Icono.jpg}">PeliReview
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-Pag" aria-current="page" th:href=@{/api/usuario/Login}>Iniciar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main id="main">
  <div class="container">
    <div class="row align-items-center">
      <div class="col col-md-6 offset-md-4 mt-4 mb-4 text-top">
        <img src="static/img/robot.jpg">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col col-md-6 offset-md-4 text-top">
        <h1>No tienes acceso :(</h1>
      </div>
    </div>
  </div>
</main>
</body>
</html>