<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="stylesheet"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Agregar una pelicula</title>
</head>
<body class="bg-dark">
    <header>
      <nav id="header" class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-Intro" href="#">
            <img th:src="@{/img/Icono.jpg}">PeliReview
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link text-Pag" aria-current="page" th:href="@{/api/Paginas/}" >Películas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-Pag" aria-current="page" th:href="@{/api/PaginaIniciosesion/}" >Iniciar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container mt-4">
          <form class="bg-info p-3 rounded-2">
              <div class="row mb-3">
                  <div class="col text-center">
                      <h1>Crear Película</h1>
                  </div>
              </div>
              <div class="row mb-3">
                <div class="col mb-3">
                      <input type="text" placeholder="Título" name="nombre" class="form-control" autocomplete="none" required />
                </div>
                <div class="col mb-3">
                      <input type="number" placeholder="Duración en minutos" name="nombre1" class="form-control" autocomplete="none" required />
                </div>
              </div>
              <div class="row mb-3">
                  <div class="col mb-3">
                        <input type="number" placeholder="Puntuación" name="nombre" class="form-control" autocomplete="none" required />
                  </div>            
                  <div class="col mb-3">
                      <input type="number" placeholder="Año" name="nombre1" class="form-control" autocomplete="none" required />
  
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <h5>Selecciona uno o varios géneros (para seleccionar más de un género, manten presionado la tecla CTRL).</h5>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <select name="cars" id="cars" multiple>
                        <option value="Terror">Terror</option>
                        <option value="Romance">Romance</option>
                        <option value="Drama">Drama</option>
                        <option value="Acción">Acción</option>
                      </select>     
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <h5>Selecciona una clasificación de acuerdo a al edad para la película.</h5>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <select name="cars" id="cars">
                          <option value="Niños (0-13 años)">Niños (0-13 años)</option>
                          <option value="Jóvenes (13-18 años)">Jóvenes (13-18 años)</option>
                          <option value="Adultos (>18 años)">Adultos (>18 años)</option>
                        </select>
                  </div>
              </div>
              <div class="row mt-4 mb-4">
                  <div class="col">
                      <input tpye="text" placeholder="Argumento" name="nombre" class="form-control" autocomplete="none" required/>
                  </div>
              </div>
              <div class="row">
                  <div class="col mb-4">
                     <h5>Seleccione una imagen de portada</h5> <input name="archivo" id="archivo" type="file" accept=".jpg">
                  </div>
              </div>
              <div class="row text-center col mb-3">
                  <div class="col">
                      <input type="submit" class="btn btn-danger btn-lg" value="Crear película">
                  </div>
              </div>
          </form>
       </div>
     
    </main>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
  </body>
</html>